html,body {
    --s: 100px;
    --c1: #4ecdc4;
    --c2: #556270;
    
    background: 
      linear-gradient(atan(-.5),var(--c1) 33%,var(--c2) 33.5% 66.5%,var(--c1) 67%) 
      0/var(--s) var(--s);
  }
  

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: larger;
}

.form-container{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form+p{
    text-align: center;
}

input,button{
    border-radius: 4px;
    border: unset;
    padding: 15px 10px;
    font-size: larger;
}

button{
    background-color: #556270;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.sr-only{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
